#main-container {               /* Arruma os elementos da pagina */
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;            /* Justifica tudo no centro */
}

/* responsável pelos elementos do form (itens em geral)*/
#main-container form {       /* é o main-container do index.js */
    width: 300px;

    display: flex;
    flex-direction: column;     /* Coloca os itens um abaixo do outro*/
}

/* responsável por arrumar o input */
#main-container form input{
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 30px;
}

/*responsável por arrumar o botão*/
#main-container form button{
    height: 48px;
    background: #7159c1;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#main-container form button:hover{
    opacity: 0.8;
}